header {
  font-size: 18px;
  line-height: 24px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #3c3a39;
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
}

body {
  width: 100%;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #1c1a19 !important;
  display: flex;
}

button {
  border: none;
  justify-content: center;
}

img {
  transition: all 0.2s ease-out;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 15px;
}

.endnavbar {
  margin-right: 20px;
  align-self: center;
}

.section-one {
  background-position: right bottom;
  padding: 120px 0 120px 20px;
  background-image: url(./images/Illustration.svg);
  background-repeat: no-repeat;
}

.section-one-paragraph {
  width: 327px;
  height: 123px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

.Section-one-main-Head {
  width: 327px;
  height: 124px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Section-one-Second-Head {
  width: 327px;
  height: 27px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Section-one-SocialMedia {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 200px;
  height: 40px;
  flex: none;
  order: 3;
  flex-grow: 0;
  gap: 20px;
  list-style-type: none;
}

.Section-two {
  background-color: #fff;
  padding: 20px 20px 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Section-two-Title {
  width: 327px;
  height: 83px;
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1c1a19;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Section-two-Skills {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  width: 297px;
  height: 40px;
  flex: none;
  order: 2;
  flex-grow: 0;
  list-style-type: none;
}

.Section-two-paragraph {
  width: 327px;
  height: 147px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Section-two-Subtitle {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  flex: none;
  flex-grow: 0;
  order: 0;
}

.Section-two-Images {
  list-style-type: none;
  width: 327px;
  text-align: center;
  padding: 0 20px;
}

.Section-two-Single-Skills {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0 35px 0 0;
}

.Section-two-ImgPlaceholder {
  width: 100%;
  height: auto;
  padding: 80px 0 30px;
}

.Section-two-Buttom {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #fff;
}

.Section-Two-Project-Background {
  background: white;
}

.Section-Two-Projects {
  padding: 20px;
}

.Project-Card-Works {
  width: 100%;
  background-size: cover;
  background-position: center center;
  background-image: url(./images/ImgsPlaceholder.png);
  display: flex;
  flex-direction: column;
}

.Project-Card-Title {
  padding: 0 0 0 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  color: #fff;
  font-size: 30px;
}

.Project-Card-paragraph {
  padding: 0 15px 15px 15px;
  font-weight: 400;
  font-size: 26px;
  line-height: 24px;
  color: #fff;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.Project-Card-skills {
  padding: 0 40px;
  gap: 12px;
  flex: none;
  order: 2;
  flex-grow: 0;
  list-style-type: none;
}

.Project-Card-Single-skills {
  float: left;
  margin: 0 13px 0 0;
  background: rgba(255, 255, 255, 0.24);
  padding: 15px;
  color: white;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.Project-Card-Buttom {
  order: 3;
  width: 100%;
  height: 48px;
  left: 0;
  top: 0;
  color: white;
  font-size: 20px;
  background: #ff6b00;
}

.Section-Three {
  background-image: url(./images/Frame.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding: 120px 20px 120px 20px;
}

.Section-Three-Paragraph {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  flex: none;
  order: 1;
  flex-grow: 0;
  color: #f4f5f7;
  padding: 0 0 20px 20px;
}

.Section-Three-Title {
  font-family: "Crete Round", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.Section-Three-First-Line {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  display: flex;
  flex: none;
  order: 0;
  flex-grow: 0;
  color: #fff;
  flex-direction: row;
  justify-content: center;
  position: static;
}

.Section-Three-Single-Source {
  display: flex;
  flex-direction: column;
  color: #fff;
}

.Section-Three-Source {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Section-Three-subline {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 33px;
  color: #fff;
}

.Section-Three-Main-Source {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  list-style-type: none;
}

.Section-Three-Main-Single-Source {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 43px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 33px;
  color: #fff;
}

.Section-Three-Buttom {
  top: 395px;
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: 24px 20px;
  font-size: 17px;
  background-color: #ff6b00;
  color: #fff;
  transition: all 0.5s ease-in;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  position: static;
  width: 161px;
  height: 48px;
  left: 24px;
}

.Section-Gray-Line,
.Section-Three-line {
  width: 80%;
  height: 1px;
  margin-left: 45px;
}

.Section-four {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Section-four-Title {
  margin: 120px 24px 58px 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  text-align: center;
}

.Section-four-Contact-Form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.Section-four-FullName {
  width: 90%;
  border: none;
  border-bottom: solid  #dbd8d7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #979493;
  padding: 12px;
  margin-bottom: 24px;
}

.Section-four-Email {
  width: 90%;
  border: none;
  border-bottom: solid  #dbd8d7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #979493;
  padding: 12px;
  margin-bottom: 24px;
}

.Section-four-message {
  background: #fbf8f7;
  border: none;
  width: 90%;
  border-bottom: solid  #dbd8d7;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  color: #979493;
  padding: 12px;
  margin-bottom: 24px;
}

.Section-four-Buttom {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  flex: none;
  order: 3;
  flex-grow: 0;
  color: white;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 120px;
}

.Section-Gray-Lines {
  width: 100%;
}

.Section-four-socialmedia {
  display: flex;
  list-style-type: none;
  margin: 15px 0 0 0;
  padding: 0;
}

.Iphone_Line {
  padding: 21px 0 8px 0;
}

button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}
